﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
   

    <!-- core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/css/main.css" rel="stylesheet">
    <link href="~/Content/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/Content/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/images/ico/apple-touch-icon-57-precomposed.png">
    
</head><!--/head-->
<body class="homepage">
    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                      
                    </div>
                    <div class="col-sm-6 col-xs-8">
                        <div class="social">
                           
                            <div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search"></i>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="~/Content/images/logo1.png" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    
                    <ul class="nav navbar-nav">
                        
                                        
                         <li class="active">@Html.ActionLink(" AnaSayfa", "Index", "Home")
                        
                        <li class="dropdown">
                           @Html.ActionLink(" Müzik", "Muzik", "Home")    
                             
                            <ul class="dropdown-menu">
                                <li><a href="blog-item.html">Batı Müziği</a></li>
                                <li><a href="pricing.html">Doğu Müziği</a></li>
                                <li><a href="404.html">Klasik Müzik</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            @Html.ActionLink(" Kitap", "Kitap", "Home")
                            
                            <ul class="dropdown-menu">
                                <li><a href="blog-item.html">Batı Edebiyatı</a></li>
                                <li><a href="pricing.html">Türk Edebiyatı </a></li>
                                <li><a href="404.html">100 Temel Eser</a></li>
                                <li><a href="404.html">Dünya Klasikleri </a></li>
                                <li><a href="404.html">Dergi </a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            @Html.ActionLink(" Sinema", "Sinema", "Home")
                            
                            <ul class="dropdown-menu">
                                <li><a href="blog-item.html">Türk Sineması</a></li>
                                <li><a href="pricing.html">Hollywood Sineması</a></li>
                                <li><a href="404.html">Dünya Sineması</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            @Html.ActionLink(" Tiyatro", "Tiyatro", "Home")
                            
                            <ul class="dropdown-menu">
                                <li><a href="blog-item.html">Batı Tiyatrosu</a></li>
                                <li><a href="pricing.html">Türk Tiyatrosu</a></li>
                                <li><a href="404.html">Yakındaki Etkinlikler</a></li>
                            </ul>
                        </li>

                        
                        <li class="dropdown">
                            @Html.ActionLink(" Röportaj", "Roportaj", "Home")
                        </li>

                            
                        <li class="dropdown">
                            @Html.ActionLink(" Üyelik Girişi", "UyeGiris", "Home")
                        </li>

                        <li class="dropdown">
                            @Html.ActionLink(" Kaydol", "Kaydol", "Home")
                        </li>

</ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
 
    </header><!--/header-->
    @RenderBody()

    <script src="~/Scripts/js/jquery.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/js/jquery.isotope.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    <script src="~/Scripts/js/wow.min.js"></script>
</body>
</html>